@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
  font-family: 'Source Sans Pro', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  background-color: white !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

@media (prefers-color-scheme: dark) {
  body   { background:  white; }
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
a {
  color: inherit;
}
b {
  font-weight: 600;
}
span {
  font-weight: 200;
}
ul {
    list-style-type: none;
}
strong {
  font-weight: 500;
}
h1 {
  font-weight: 300;
  font-size: 2.5vw;
  line-height: 1.5vw;
  letter-spacing: 0.11em;
  text-decoration: none;
}
h2 {
  font-weight: 400;
  text-decoration: none;
}
h3 {
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 0.8vw;
  letter-spacing: 0.11em;
}
p {
  font-weight: 300;
  font-size: 1vw;
  line-height: 0.4vw;
}
button {
  font-weight: 600;
  font-size: 0.8vw;
}
input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 5px;
}
textarea {
  font-family: 'Montserrat', sans-serif;
  border: none;
  height: 30vh;
  font-size: 2vh;
  padding: 1vw;
}
.hoverArea:hover > .textFade {
    opacity: 0.15;
}
.slider-control-centerleft, .slider-control-centerright {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body{
    font-size: 12pt;
  }
  button{
    font-size: 9pt;
  }
}
@media only screen and (min-width:480px) and (max-width: 767px) {
  body{
    font-size: 11pt;
  }
  button{
    font-size: 8pt;
  }
}
@media only screen and (max-width: 479px) {
  body{
    font-size: 10pt;
  }
  button{
    font-size: 8pt;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616264;
  opacity: 1; /* Firefox */
  font-size: 13px;
}